<%= render 'shared/error',obj: @article%>

<%= form_with(model:  @article, local: true)  do |f| %>
    <p>
        <%= f.label :Title%></br>
        <%= f.text_field :title%>
    </p>

    <p>
        <%= f.label :description%></br>
        <%= f.text_area :description%>
    </p>

    <p>
        <%= f.submit :Create%></br>
        
    </p>
<% end %>