<h1>Create new category</h1>
<%= render 'shared/error',obj: @category %>

<%= form_with(model:  @category, local: true)  do |f| %>
    <p>
        <%= f.label :name %></br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.submit :Create%></br>
    </p>
<% end %>